name: Go CI

on:
  pull_request:        # runs on open, sync (new commits), and reopen
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25'
          cache: true          # module & build cache

      - name: Vet
        run: go vet ./...

      - name: Test (race + coverage)
        run: go test -race -coverprofile=coverage.out ./...

      - name: Upload coverage (artifact)
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.out

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --timeout=3m
